@import './setting';

%text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin image ($width, $height, $file) {
  width: $width;
  height: $height;
  background: url($file) center/contain no-repeat;
}

@function rand($min, $max) {
  @return random() * ($max - $min) + $min;
}
