/* Font Size Setting */
$mobileTitleSize: 34px;
$mobileTextSize: 30px;

/* Font Color Setting */
$textColor: #333;
$subTitleColor: #666;
$descriptionColor: #999;

/* Theme Color Setting */
$blockColor: #fff;
$activeBlockColor: #f6f6f6;

/* Border Setting */
$splitBorderColor: #ececec;
$splitBorder: 1px solid #ececec;

/* Radius Setting */
$dialogRadius: 15px;

/* z-index Setting */
$toastIndex: 10;
$dialogIndex: 9;
