@import '~styles/common';
@import '~styles/desktop';
@import './setting';



.et-banner {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 1200px;
  min-height: 640px;
  background-image: url(../images/banner.png);
  background-size: cover;
  background-repeat: no-repeat;

  .et-banner__price {
    position: absolute;
    top: 46.87vh;
    left: 7vw;
    @include image(25.86vw, 19.06vh, '../images/banner-price.png');
  }

  .et-banner__title {
    position: absolute;
    top: 23.44vh;
    left: 44.92vw;
    @include image(37.97vw, 14.38vh, '../images/banner-title.png');
  }

  .et-banner__car {
    position: absolute;
    top: 39.06vh;
    left: 33.98vw;
    @include image(55vw, 58.59vh, '../images/car.png');
  }

  .et-banner__button {
    position: absolute;
    width: 15.63vw;
    height: 5vh;
    font-size: 17.6px;
    color: $themeColor;
    background-color: $blockColor;
    border-radius: 2.5vh;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .1);

    &:first-of-type {
      top: 69.53vh;
      left: 10.16vw;
    }

    &:last-of-type {
      top: 76.56vh;
      left: 12.5vw;
    }

    &:hover {
      transform: scale(1.05);
    }

    &:active {
      transform: scale(1.02);
    }

    .et-icon {
      display: inline-block;
      margin-right: 15px;
      vertical-align: text-top;
    }

    .et-icon-wheel {
      @include image(22px, 22px, '../images/icon-wheel.png');
    }

    .et-icon-buy {
      @include image(22px, 22px, '../images/icon-buy.png');
    }
  }
}

.et-root {
  position: relative;
  width: 100%;
  min-width: 1200px;
  margin-top: 100vh;
  background-color: $blockColor;
  z-index: 1;

  .et-video {
    width: 100vw;
    height: 100vh;
    background-image: url(../images/video.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .et-main {
    width: 1200px;
    margin: auto;

    .et-section {
      position: relative;

      .et-label {
        padding-left: 20px;
        font-size: 36px;
        line-height: 60px;
        color: $themeColor;
        border-left: 5px solid $labelBorderColor;

        &.et-label_right {
          padding-right: 20px;
          padding-left: 0;
          border-left: none;
          border-right: 5px solid $labelBorderColor;
        }
      }

      .et-text {
        padding: 25px;
        color: $textColor;

        h4 {
          margin-bottom: 10px;
          font-size: 26px;
          line-height: 30px;
        }

        p {
          font-size: 20px;
          line-height: 30px;
          font-weight: 300;

          &.et-text_period {
            margin-right: -20px;
          }

          &.et-text_comma {
            margin-right: -28px;
          }
        }
      }

      .et-swiper {
        .swiper-button-prev,
        .swiper-button-next {
          position: absolute;
          top: auto;
          right: 0;
          bottom: 0;
          left: auto;
          width: 52px;
          height: 52px;
          background-color: $themeColor;
          background-size: 12px 15px;

          &:hover {
            background-color: $themeHoverColor;
          }
        }

        .swiper-button-prev {
          right: 55px;
          background-image: url('../images/icon-arrow-left.png');
        }

        .swiper-button-next {
          background-image: url('../images/icon-arrow-right.png');
        }

        .swiper-pagination {
          display: flex;
          align-items: center;
          width: auto;

          .swiper-pagination-bullet {
            width: 10px;
            height: 10px;
            margin-right: 21px;
            color: transparent;
            background-color: $paginationColor;
            opacity: 1;

            &.swiper-pagination-bullet-active {
              width: 22px;
              height: 22px;
              line-height: 20px;
              color: $blockColor;
              background-color: $themeColor;
            }
          }
        }
      }
    }

    .et-section_design {
      height: 496px;

      .et-section__bg {
        position: absolute;
        right: 0;
        bottom: 0;
        opacity: 0.85;
        @include image(288px, 287px, '../images/section-1.png');
      }

      .et-swiper {
        position: absolute;
        top: 32px;
        left: 115px;
        width: 523px;
        height: 406px;

        .swiper-design-1 {
          @include image(523px, 355px, '../images/design-pic-1.png');
        }

        .swiper-design-2 {
          @include image(523px, 355px, '../images/design-pic-2.png');
        }

        .swiper-design-3 {
          @include image(523px, 355px, '../images/design-pic-3.png');
        }

        .swiper-design-4 {
          @include image(523px, 355px, '../images/design-pic-4.png');
        }
      }

      .et-content {
        position: absolute;
        top: 68px;
        right: 115px;
        width: 393px;
      }
    }

    .et-section_inner {
      height: 425px;

      .et-content {
        position: absolute;
        top: 25px;
        left: 115px;
        width: 389px;
        text-align: right;
      }
      
      .et-swiper {
        position: absolute;
        top: 0;
        right: 0;
        width: 631px;
        height: 405px;

        .swiper-inner-1 {
          @include image(631px, 354px, '../images/inner-pic-1.png');
        }

        .swiper-inner-2 {
          @include image(631px, 354px, '../images/inner-pic-1.png');
        }

        .swiper-inner-3 {
          @include image(631px, 354px, '../images/inner-pic-1.png');
        }

        .swiper-inner-4 {
          @include image(631px, 354px, '../images/inner-pic-1.png');
        }
      }

    }
  }
}

.element-in {
  .fade-in-bottom {
    animation: fade-in-bottom 1s ease-out forwards;
  }

  .fade-in-left {
    animation: fade-in-left 1s ease-out forwards;
  }

  .fade-in-right {
    animation: fade-in-right 1s ease-out forwards;
  }

  .delay {
    opacity: 0;
    animation-delay: .8s;
  }
}

@keyframes fade-in-bottom {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-left {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}