@import '~styles/desktop';
@import './setting';

.et-banner {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 1200px;
  background-image: url(../images/banner.png);
  background-size: cover;
  background-repeat: no-repeat;

  .et-banner__car {
    width: 704px;
    height: 375px;
    background: url(../images/car.png) center/contain no-repeat;
  }
}

.et-root {
  position: relative;
  width: 100%;
  min-width: 1200px;
  margin-top: 100vh;
  background-color: $blockColor;
  z-index: 1;

  .et-main {
    width: 1200px;
    margin: auto;
  }
}