/* Color Setting */
$themeColor: #2963b3;
$themeHoverColor: #1d4b8a;
$themeTextColor: #235497;
$textColor: #101616;
$labelColor: #282828;
$splitColor: #838383;
$borderColor: #c0c0c0;
$paginationColor: #ccc;
$labelBorderColor: #d1d1d1;
$backgroundColor: #ededed;
$blockColor: #fff;