<% const header = {
  title: '启辰智多星 高品质智趣SUV T60',
  description: '启辰智多星 高品质智趣SUV T60',
  keywords: '启辰,SUV,T60',
  script: []
}; %>
<%- include common/desktop-header %>
<div id="banner" class="et-banner element-in">
  <div class="et-banner__price fade-in-bottom delay"></div>
  <div class="et-banner__title fade-in-left delay"></div>
  <div class="et-banner__car fade-in-left"></div>
  <div class="et-banner__button-group fade-in-bottom delay">
    <button class="et-banner__button">
      <i class="et-icon et-icon-wheel"></i>预约试驾
    </button>
    <button class="et-banner__button">
      <i class="et-icon et-icon-buy"></i>在线购车
    </button>
  </div>
</div>
<div class="et-root">
  <div class="et-video"></div>
  <main class="et-main">
    <section id="design" class="et-section et-section_design">
      <div class="et-section__bg"></div>
      <div id="swiper-design" class="et-swiper swiper-container fade-in-right">
        <div class="swiper-wrapper">
          <div class="swiper-slide swiper-design-1"></div>
          <div class="swiper-slide swiper-design-2"></div>
          <div class="swiper-slide swiper-design-3"></div>
          <div class="swiper-slide swiper-design-4"></div>
        </div>
        <div id="swiper-design-pagination" class="swiper-pagination"></div>
        <div id="swiper-design-prev" class="swiper-button-prev"></div>
        <div id="swiper-design-next" class="swiper-button-next"></div>
      </div>
      <div class="et-content fade-in-bottom delay">
        <h4 class="et-label">星航设计</h4>
        <div class="et-text">
          <h4>悬浮式车顶</h4>
          <p>双色车身设计，搭配悬浮式车顶，</p>
          <p>兼具科技感与时尚个性。</p>
        </div>
      </div>
    </section>
    <section id="inner" class="et-section et-section_inner">
      <div class="et-content fade-in-bottom delay">
        <h4 class="et-label et-label_right">舒适驾乘</h4>
        <div class="et-text">
          <h4>科技范高质感内饰</h4>
          <p class="et-text_period">哑光飞翼贯穿前面板与中控大屏。</p>
          <p class="et-text_comma">高质感多层加饰面板，围绕驾驶舱，</p>
          <p class="et-text_comma">形成环绕式感觉，</p>
          <p class="et-text_period">门把手所触及处均有皮质包饰。</p>
        </div>
      </div>
      <div id="swiper-inner" class="et-swiper swiper-container fade-in-left">
        <div class="swiper-wrapper">
          <div class="swiper-slide swiper-inner-1"></div>
          <div class="swiper-slide swiper-inner-2"></div>
          <div class="swiper-slide swiper-inner-3"></div>
          <div class="swiper-slide swiper-inner-4"></div>
        </div>
        <div id="swiper-inner-pagination" class="swiper-pagination"></div>
        <div id="swiper-inner-prev" class="swiper-button-prev"></div>
        <div id="swiper-inner-next" class="swiper-button-next"></div>
      </div>
    </section>
    <section id="360" class="et-section et-section_360">
      <div class="et-360">
        <div class="et-360__car"></div>
      </div>
    </section>
    <section class="et-section"></section>
    <section class="et-section"></section>
    <section class="et-section"></section>
    <section class="et-section"></section>
    <section class="et-section"></section>
    <section class="et-section"></section>
    <section class="et-section"></section>
    <section class="et-section"></section>
    <section class="et-section"></section>
  </main>
  <footer class="et-footer"></footer>
</div>
<%- include common/desktop-footer %>
