<% const header = {
  title: '启辰智多星 高品质智趣SUV T60',
  description: '启辰智多星 高品质智趣SUV T60',
  keywords: '启辰,SUV,T60',
  script: []
}; %>
<%- include common/desktop-header %>
<section id="banner" class="et-banner element-in">
  <div class="et-banner__car fade-left"></div>
</section>
<div class="et-root">
<p>1</p>
<p>1</p>
<p>1</p>
<p>1</p>
<p>1</p>
<p>1</p>
<p>1</p>
<p>1</p>
<p>1</p>
<p>1</p>
<p>1</p>
<p>1</p>
<p>1</p>
<p>1</p>
<p>1</p>
<p>1</p>
<p>1</p>
  <div class="et-video"></div>
  <main class="et-main">
    <section id="design" class="et-section"></section>
    <section class="et-section"></section>
    <section class="et-section"></section>
    <section class="et-section"></section>
    <section class="et-section"></section>
    <section class="et-section"></section>
    <section class="et-section"></section>
    <section class="et-section"></section>
    <section class="et-section"></section>
    <section class="et-section"></section>
    <section class="et-section"></section>
    <section class="et-section"></section>
  </main>
  <footer class="et-footer"></footer>
</div>
<%- include common/desktop-footer %>
