<% const header = {
  title: '启辰智多星 高品质智趣SUV T60',
  description: '启辰智多星 高品质智趣SUV T60',
  keywords: '启辰,SUV,T60'
}; %>
<%- include common/desktop-header %>
<div id="banner" class="et-banner element-in">
  <div class="et-banner__price fade-in-bottom delay"></div>
  <div class="et-banner__title fade-in-left delay"></div>
  <div class="et-banner__car fade-in-left"></div>
  <div class="et-banner__button-group fade-in-bottom delay">
    <button class="et-banner__button">
      <i class="et-icon et-icon-wheel"></i>预约试驾
    </button>
    <button class="et-banner__button">
      <i class="et-icon et-icon-buy"></i>在线购车
    </button>
  </div>
</div>
<div class="et-root">
  <div id="video" class="et-video">
    <i class="et-icon et-icon-play fade-in-bottom"></i>
  </div>
  <main class="et-main">
    <section id="design" class="et-section et-section_design">
      <div class="et-section__bg fade-in-left"></div>
      <div id="swiper-design" class="et-swiper swiper-container fade-in-right">
        <div class="swiper-wrapper">
          <div class="swiper-slide swiper-design-1"></div>
          <div class="swiper-slide swiper-design-2"></div>
          <div class="swiper-slide swiper-design-3"></div>
          <div class="swiper-slide swiper-design-4"></div>
        </div>
        <div id="swiper-design-pagination" class="swiper-pagination"></div>
        <div id="swiper-design-prev" class="swiper-button-prev"></div>
        <div id="swiper-design-next" class="swiper-button-next"></div>
      </div>
      <div class="et-content fade-in-bottom delay">
        <h4 class="et-label">星航设计</h4>
        <div class="et-text">
          <h4>悬浮式车顶</h4>
          <p>双色车身设计，搭配悬浮式车顶，</p>
          <p>兼具科技感与时尚个性。</p>
        </div>
      </div>
    </section>
    <section id="inner" class="et-section et-section_inner">
      <div class="et-content fade-in-bottom delay">
        <h4 class="et-label et-label_right">舒适驾乘</h4>
        <div class="et-text">
          <h4>科技范高质感内饰</h4>
          <p class="et-text_period">哑光飞翼贯穿前面板与中控大屏。</p>
          <p class="et-text_comma">高质感多层加饰面板，围绕驾驶舱，</p>
          <p class="et-text_comma">形成环绕式感觉，</p>
          <p class="et-text_period">门把手所触及处均有皮质包饰。</p>
        </div>
      </div>
      <div id="swiper-inner" class="et-swiper swiper-container fade-in-left">
        <div class="swiper-wrapper">
          <div class="swiper-slide swiper-inner-1"></div>
          <div class="swiper-slide swiper-inner-2"></div>
          <div class="swiper-slide swiper-inner-3"></div>
          <div class="swiper-slide swiper-inner-4"></div>
        </div>
        <div id="swiper-inner-pagination" class="swiper-pagination"></div>
        <div id="swiper-inner-prev" class="swiper-button-prev"></div>
        <div id="swiper-inner-next" class="swiper-button-next"></div>
      </div>
    </section>
    <section id="360" class="et-section et-section_360">
      <div class="et-360">
        <div class="et-360__car fade-in-right"></div>
      </div>
      <ul class="et-360__panel">
        <li class="et-360__button"><i class="et-icon et-icon-car"></i></li>
        <li class="et-360__button"><i class="et-icon et-icon-seat"></i></li>
        <li class="et-360__button"><i class="et-icon et-icon-wheel"></i></li>
        <li class="et-360__button"><i class="et-icon et-icon-buy"></i></li>
      </ul>
      <div class="et-360__color"></div>
    </section>
    <section id="control" class="et-section et-section_control">
      <div class="et-section__bg fade-in-right"></div>
      <h4 class="et-label et-label_right fade-in-left delay">同步舒适</h4>
      <ul class="et-gallery fade-in-right">
        <li class="et-gallery__item">
          <p class="et-gallery__label">多场景远程控制</p>
          <div class="et-gallery__image"></div>
        </li>
        <li class="et-gallery__item">
          <p class="et-gallery__label">远程控制车辆</p>
          <div class="et-gallery__image"></div>
        </li>
      </ul>
    </section>
    <section id="mutual" class="et-section et-section_mutual">
      <div class="et-section__bg slide-in-down"></div>
      <div class="et-section__image fade-in-right"><div></div></div>
      <div class="et-section__content fade-in-left delay">
        <h4 class="et-label">轻松出行</h4>
        <ul class="et-layout">
          <li class="et-layout__item"><i class="et-icon"></i></li>
          <li class="et-layout__item"><i class="et-icon"></i></li>
          <li class="et-layout__item"><i class="et-icon"></i></li>
          <li class="et-layout__item"><i class="et-icon"></i></li>
        </ul>
      </div>
    </section>
    <section id="safe" class="et-section et-section_safe">
      <div class="et-section__bg slide-in-down"></div>
      <div class="et-section__image fade-in-left"></div>
      <div class="et-section__content">
        <h4 class="et-label fade-in-right delay">无忧驾驶</h4>
        <ul class="et-layout fade-in-bottom">
          <li class="et-layout__item">
            <i class="et-icon">DVR</i>
            <div>
              <h4>智能行车记录仪</h4>
              <p>行驶时自动启动正前方画面、声音记录功能，</p>
              <p>同步记录车辆行驶状况，可通过一键拍照功能，</p>
              <p>把影像同步到手机，分享到社交网络。</p>
            </div>
          </li>
          <li class="et-layout__item">
            <i class="et-icon">BSW</i>
            <div>
              <h4>变道盲区预警系统</h4>
              <p>15-140km/h行驶时，实时监测后方盲区来车，</p>
              <p>并通过A柱信号灯、仪表盘信息系统、</p>
              <p>蜂鸣声进行预警。</p>
            </div>
          </li>
          <li class="et-layout__item">
            <i class="et-icon">AEB</i>
            <div>
              <h4>自主紧急制动系统</h4>
              <p>行驶过程中一旦探测到碰撞可能，</p>
              <p>通过仪表盘信息系统、蜂鸣声进行预警。</p>
              <p>必要时自动制动，尽可能避免发生碰撞。</p>
            </div>
          </li>
        </ul>
        <ul class="et-layout fade-in-bottom">
          <li class="et-layout__item">
            <i class="et-icon">LDW</i>
            <div>
              <h4>车道偏离预警系统</h4>
              <p>60km/h以上行驶时，实时监测车道线，</p>
              <p>若出现车道偏离，立即通过仪表盘信息系统、</p>
              <p>蜂鸣声进行预警。</p>
            </div>
          </li>
          <li class="et-layout__item">
            <i class="et-icon et-icon_multi">3D<br>AVM</i>
            <div>
              <h4>全景式监控影像系统</h4>
              <p>通过四个车外摄像头，投射车周围影像到</p>
              <p>中控屏幕，提供360°全景监控，</p>
              <p>并实时投射引导线在倒车画面上，辅助您泊车。</p>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section id="quota" class="et-section et-section_quota">
      <div class="et-section__bg fade-in-left"></div>
      <div class="et-section__label fade-in-bottom"></div>
      <h4 class="et-label fade-in-left delay">多元化高品质</h4>
      <div class="et-layout et-layout_gearbox fade-in-right">
        <i class="et-icon"></i>
        <div>
          <h4>日产全新XTRONIC CVT无级变速器</h4>
          <p>日产全新调校XTRONIC CVT无级变速器，与轩逸等车型为同系产品，</p>
          <p>实现非同凡响的宽绰变速比8.7:1，速比范围相当于传统的8AT变速器，</p>
          <p>且节油效率更优秀，带来杰出燃油经济性的同时获得平顺自如、</p>
          <p>乐趣无穷的驾驶感受。</p>
        </div>
      </div>
      <div class="et-layout et-layout_engine fade-in-left">
        <div>
          <h4>日产全新HR16发动机</h4>
          <p>全面升级的HR16 1.6L全铝发动机，拥有DIS燃油双喷射技术</p>
          <p>与双C-VTC连续可变气门正时智能控制系统。</p>
          <p>多项优化进一步减少摩擦，配合升级的ECM发动机控制程序，</p>
          <p>实现燃油经济型与卓越动力的完美平衡。</p>
        </div>
        <i class="et-icon"></i>
      </div>
      <div class="et-car fade-in-bottom"></div>
    </section>
    <section id="bodywork" class="et-section et-section_bodywork">
      <div class="fade-in-left">
        <h4>Zone Body区域组合+1200Mpa高强钢车身</h4>
        <p>Zone Body区域车身撞击缓冲结构，配合安全舱组合设计，高效吸引冲撞力；</p>
        <p>采用1200Mpa高强钢，打造高级车标准的UHSS高刚性车身，提高车体的抗冲击性。</p>
      </div>
      <div class="et-car fade-in-right delay"></div>
    </section>
    <section id="air" class="et-section et-section_air">
      <div class="et-section__bg fade-in-right"></div>
      <div class="et-text fade-in-left">
        <h4>加强版6安全气囊防护系统</h4>
        <p>加强版6安全气囊 + 测辅助安全气囊</p>
        <p>+ 大型窗帘式辅助安全气囊，提供多方位安全保护。</p>
        <p>发生碰撞时保护头部、胸部、髋关节等重要部位安全，</p>
        <p>加强的人性化手臂抬起式侧气囊设计更有效减轻对胸部的伤害。</p>
      </div>
      <ul class="et-layout fade-in-bottom delay">
        <li class="et-layout__item">
          <i class="et-icon">ASCD</i>
          <div>
            <h4>定速巡航</h4>
            <p>启动后在设定速度下</p>
            <p>巡航行驶，解放双脚，</p>
            <p>保证高速行驶不超速。</p>
          </div>
        </li>
        <li class="et-layout__item">
          <i class="et-icon">HSA</i>
          <div>
            <h4>上坡起步辅助系统</h4>
            <p>在斜坡上释放制动踏板时，</p>
            <p>有2秒保持静止状态，</p>
            <p>防止车辆下滑后溜。</p>
          </div>
        </li>
        <li class="et-layout__item">
          <i class="et-icon">ESP</i>
          <div>
            <h4>博世9.1版ESP<br>车身电子稳定系统</h4>
            <p>车轮打滑倾斜或丧失附着力时，</p>
            <p>ESP会降低发动机转速，</p>
            <p>通过制动控制保持正常轨迹，</p>
            <p>提供行车安全。</p>
          </div>
        </li>
      </ul>
    </section>
    <section id="specs" class="et-section et-section_specs">
      <h4 class="et-label">车型规格</h4>
      <button class="et-button">车型比较</button>
      <ul class="et-specs">
        <li class="et-specs__item fade-in-left">
          <div class="et-specs__left">
            <h4 class="et-specs__title">1.6L MT时尚版</h4>
            <div class="et-specs__image"></div>
          </div>
          <div class="et-specs__right">
            <h4 class="et-specs__label">厂商建议零售价¥ 8.58 万起 月供¥ 1,254起</h4>
            <ul class="et-specs__table">
              <li class="et-specs__data">
                <p class="et-specs__text">长×宽×高 (mm)</p>
                <h4 class="et-specs__value">4412x1820x1679</h4>
              </li>
              <li class="et-specs__data">
                <p class="et-specs__text">百公里油耗 (L)</p>
                <h4 class="et-specs__value">6.4</h4>
              </li>
              <li class="et-specs__data">
                <p class="et-specs__text">最高车速 (km/h)</p>
                <h4 class="et-specs__value">180</h4>
              </li>
              <li class="et-specs__button">
                <button>购车计算<i class="et-icon et-icon-round-arrow-right"></i></button>
                <button>查看全部数据<i class="et-icon et-icon-round-arrow-right"></i></button>
              </li>
            </ul>
          </div>
        </li>
        <li class="et-specs__item fade-in-left">
          <div class="et-specs__left">
            <h4 class="et-specs__title">1.6L MT智尚版</h4>
            <div class="et-specs__image"></div>
          </div>
          <div class="et-specs__right">
            <h4 class="et-specs__label">厂商建议零售价¥ 8.58 万起 月供¥ 1,254起</h4>
            <ul class="et-specs__table">
              <li class="et-specs__data">
                <p class="et-specs__text">长×宽×高 (mm)</p>
                <h4 class="et-specs__value">4412x1820x1679</h4>
              </li>
              <li class="et-specs__data">
                <p class="et-specs__text">百公里油耗 (L)</p>
                <h4 class="et-specs__value">6.4</h4>
              </li>
              <li class="et-specs__data">
                <p class="et-specs__text">最高车速 (km/h)</p>
                <h4 class="et-specs__value">180</h4>
              </li>
              <li class="et-specs__button">
                <button>购车计算<i class="et-icon et-icon-round-arrow-right"></i></button>
                <button>查看全部数据<i class="et-icon et-icon-round-arrow-right"></i></button>
              </li>
            </ul>
          </div>
        </li>
        <li class="et-specs__item fade-in-left">
          <div class="et-specs__left">
            <h4 class="et-specs__title">1.6L MT智酷版</h4>
            <div class="et-specs__image"></div>
          </div>
          <div class="et-specs__right">
            <h4 class="et-specs__label">厂商建议零售价¥ 8.58 万起 月供¥ 1,254起</h4>
            <ul class="et-specs__table">
              <li class="et-specs__data">
                <p class="et-specs__text">长×宽×高 (mm)</p>
                <h4 class="et-specs__value">4412x1820x1679</h4>
              </li>
              <li class="et-specs__data">
                <p class="et-specs__text">百公里油耗 (L)</p>
                <h4 class="et-specs__value">6.4</h4>
              </li>
              <li class="et-specs__data">
                <p class="et-specs__text">最高车速 (km/h)</p>
                <h4 class="et-specs__value">180</h4>
              </li>
              <li class="et-specs__button">
                <button>购车计算<i class="et-icon et-icon-round-arrow-right"></i></button>
                <button>查看全部数据<i class="et-icon et-icon-round-arrow-right"></i></button>
              </li>
            </ul>
          </div>
        </li>
        <li class="et-specs__item fade-in-left">
          <div class="et-specs__left">
            <h4 class="et-specs__title">1.6L CVT智型版</h4>
            <div class="et-specs__image"></div>
          </div>
          <div class="et-specs__right">
            <h4 class="et-specs__label">厂商建议零售价¥ 8.58 万起 月供¥ 1,254起</h4>
            <ul class="et-specs__table">
              <li class="et-specs__data">
                <p class="et-specs__text">长×宽×高 (mm)</p>
                <h4 class="et-specs__value">4412x1820x1679</h4>
              </li>
              <li class="et-specs__data">
                <p class="et-specs__text">百公里油耗 (L)</p>
                <h4 class="et-specs__value">5.9</h4>
              </li>
              <li class="et-specs__data">
                <p class="et-specs__text">最高车速 (km/h)</p>
                <h4 class="et-specs__value">170</h4>
              </li>
              <li class="et-specs__button">
                <button>购车计算<i class="et-icon et-icon-round-arrow-right"></i></button>
                <button>查看全部数据<i class="et-icon et-icon-round-arrow-right"></i></button>
              </li>
            </ul>
          </div>
        </li>
        <li class="et-specs__item fade-in-left">
          <div class="et-specs__left">
            <h4 class="et-specs__title">1.6L CVT智趣版</h4>
            <div class="et-specs__image"></div>
          </div>
          <div class="et-specs__right">
            <h4 class="et-specs__label">厂商建议零售价¥ 8.58 万起 月供¥ 1,254起</h4>
            <ul class="et-specs__table">
              <li class="et-specs__data">
                <p class="et-specs__text">长×宽×高 (mm)</p>
                <h4 class="et-specs__value">4412x1820x1679</h4>
              </li>
              <li class="et-specs__data">
                <p class="et-specs__text">百公里油耗 (L)</p>
                <h4 class="et-specs__value">5.9</h4>
              </li>
              <li class="et-specs__data">
                <p class="et-specs__text">最高车速 (km/h)</p>
                <h4 class="et-specs__value">170</h4>
              </li>
              <li class="et-specs__button">
                <button>购车计算<i class="et-icon et-icon-round-arrow-right"></i></button>
                <button>查看全部数据<i class="et-icon et-icon-round-arrow-right"></i></button>
              </li>
            </ul>
          </div>
        </li>
        <li class="et-specs__item fade-in-left">
          <div class="et-specs__left">
            <h4 class="et-specs__title">1.6L CVT智炫版</h4>
            <div class="et-specs__image"></div>
          </div>
          <div class="et-specs__right">
            <h4 class="et-specs__label">厂商建议零售价¥ 8.58 万起 月供¥ 1,254起</h4>
            <ul class="et-specs__table">
              <li class="et-specs__data">
                <p class="et-specs__text">长×宽×高 (mm)</p>
                <h4 class="et-specs__value">4412x1820x1679</h4>
              </li>
              <li class="et-specs__data">
                <p class="et-specs__text">百公里油耗 (L)</p>
                <h4 class="et-specs__value">5.9</h4>
              </li>
              <li class="et-specs__data">
                <p class="et-specs__text">最高车速 (km/h)</p>
                <h4 class="et-specs__value">170</h4>
              </li>
              <li class="et-specs__button">
                <button>购车计算<i class="et-icon et-icon-round-arrow-right"></i></button>
                <button>查看全部数据<i class="et-icon et-icon-round-arrow-right"></i></button>
              </li>
            </ul>
          </div>
        </li>
        <li class="et-specs__item fade-in-left">
          <div class="et-specs__left">
            <h4 class="et-specs__title">1.6L CVT智悦版</h4>
            <div class="et-specs__image"></div>
          </div>
          <div class="et-specs__right">
            <h4 class="et-specs__label">厂商建议零售价¥ 8.58 万起 月供¥ 1,254起</h4>
            <ul class="et-specs__table">
              <li class="et-specs__data">
                <p class="et-specs__text">长×宽×高 (mm)</p>
                <h4 class="et-specs__value">4412x1820x1679</h4>
              </li>
              <li class="et-specs__data">
                <p class="et-specs__text">百公里油耗 (L)</p>
                <h4 class="et-specs__value">6.1</h4>
              </li>
              <li class="et-specs__data">
                <p class="et-specs__text">最高车速 (km/h)</p>
                <h4 class="et-specs__value">170</h4>
              </li>
              <li class="et-specs__button">
                <button>购车计算<i class="et-icon et-icon-round-arrow-right"></i></button>
                <button>查看全部数据<i class="et-icon et-icon-round-arrow-right"></i></button>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </section>
    <section id="news" class="et-section et-section_news">
      <div class="et-section__bg fade-in-left"></div>
      <h4 class="et-label">媒体报道</h4>
      <div id="swiper-news" class="et-swiper swiper-container fade-in-bottom">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="swiper-news-1"></div>
            <p>东风启辰T60内饰曝光，科技时尚风震撼来袭</p>
            <span>2018/09/03</span>
          </div>
          <div class="swiper-slide">
            <div class="swiper-news-2"></div>
            <p>洞见科技时代新趋势，东风启辰T60智能赋美</p>
            <span>2018/08/29</span>
          </div>
          <div class="swiper-slide">
            <div class="swiper-news-3"></div>
            <p>造型科技时尚，东风启辰首款小型SUV谍照曝光</p>
            <span>2018/07/10</span>
          </div>
        </div>
      </div>
      <ul class="et-panel fade-in-bottom">
        <li class="et-panel__item">查询经销商</li>
        <li class="et-panel__item">预约试驾</li>
        <li class="et-panel__item">在线咨询</li>
      </ul>
    </section>
  </main>
  <footer class="et-footer">
    <div class="et-footer__top">
      <ul class="et-footer__menu">
        <li class="et-footer__menu-item">
          <p class="et-footer__label">车型展示</p>
          <ul class="et-footer__list">
            <li class="et-footer__list-item">T60</li>
            <li class="et-footer__list-item">D60</li>
            <li class="et-footer__list-item">M50V</li>
            <li class="et-footer__list-item">T90</li>
            <li class="et-footer__list-item">T70</li>
            <li class="et-footer__list-item">新能源</li>
          </ul>
        </li>
        <li class="et-footer__menu-item">
          <p class="et-footer__label">智享生活</p>
          <ul class="et-footer__list">
            <li class="et-footer__list-item">轻松出行</li>
            <li class="et-footer__list-item">同步舒适</li>
            <li class="et-footer__list-item">无忧驾驶</li>
          </ul>
        </li>
        <li class="et-footer__menu-item">
          <p class="et-footer__label">购车助手</p>
          <ul class="et-footer__list">
            <li class="et-footer__list-item">车贷计算器</li>
            <li class="et-footer__list-item">车险计算器</li>
            <li class="et-footer__list-item">优惠活动</li>
            <li class="et-footer__list-item">维修保养</li>
            <li class="et-footer__list-item">特约服务</li>
            <li class="et-footer__list-item">保险管家</li>
            <li class="et-footer__list-item">V延保</li>
          </ul>
        </li>
        <li class="et-footer__menu-item">
          <p class="et-footer__label">品牌中心</p>
          <ul class="et-footer__list">
            <li class="et-footer__list-item">走进启辰</li>
            <li class="et-footer__list-item">魅力见证</li>
            <li class="et-footer__list-item">所获奖项</li>
            <li class="et-footer__list-item">车主声音</li>
            <li class="et-footer__list-item">媒体声音</li>
            <li class="et-footer__list-item">企业新闻</li>
            <li class="et-footer__list-item">活动中心</li>
          </ul>
        </li>
      </ul>
      <div class="et-footer__address">
        <h4>咨询试驾</h4>
        <p><i class="et-icon et-icon-mobile"></i>400-830-8800</p>
        <p><i class="et-icon et-icon-phone"></i>800-830-8800</p>
        <h4>关注启辰</h4>
        <div class="et-footer__share">
          <div><i class="et-icon et-icon-wechat"></i></div>
          <div><i class="et-icon et-icon-weibo"></i></div>
          <div><i class="et-icon et-icon-tmall"></i></div>
        </div>
      </div>
    </div>
    <div class="et-footer__bottom">
      <span>©<b>2019东风启辰汽车公司</b>粤ICP备10218963号-5</span>
      <i>|</i><span>联系我们</span>
      <i>|</i><span>网站地图</span>
      <i>|</i><span>版权保护</span>
      <i>|</i><span>版权所有</span>
    </div>
  </footer>
</div>
<%- include common/desktop-footer %>
