<% const header = {
  title: '启辰智多星 高品质智趣SUV T60',
  description: '启辰智多星 高品质智趣SUV T60',
  keywords: '启辰,SUV,T60',
  script: []
}; %>
<%- include common/desktop-header %>
<div class="et-root">
  <section class="et-banner"></section>
  <main class="et-main">
    <section class="et-section"></section>
    <section class="et-section"></section>
    <section class="et-section"></section>
    <section class="et-section"></section>
    <section class="et-section"></section>
    <section class="et-section"></section>
    <section class="et-section"></section>
    <section class="et-section"></section>
    <section class="et-section"></section>
    <section class="et-section"></section>
    <section class="et-section"></section>
    <section class="et-section"></section>
  </main>
  <footer class="et-footer"></footer>
</div>
<%- include common/desktop-footer %>
